.home{

  margin: auto;
  align-items: center;
}


.splash {

  align-items: center;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://source.unsplash.com/_cb5MjNG3DI/1600x900");
  position: relative;
  display: flex;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

  .titles {
    padding-left: 30px;
    font-family: sans-serif;
    color: white;
    width: 100%;
    justify-content: center;
    align-items: center;

    .title-text {
      justify-content: center;
      width: 100%;

    }

    h1 {
      font-size: 42px;
      text-align: center;
    }

    h2 {
      font-size: 18px;
      text-align: center;
    }

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
     -o-animation: fadein 4s; /* Opera < 12.1 */
        animation: fadein 4s;

    .buttons {
      display: flex;
      justify-content: center;

      button {
        border: 0px;
        border-radius: 0px;
        background-color: #5fb5e8;
        box-shadow: 0px;
        padding: 10px 20px;
        font-size: 18px;
        font-family: sans-serif;
      }

      button:hover {
        background-color: #80cbf7;
      }
    }

  }



}
