.home{

  margin: auto;
  align-items: center;
}

.header{
  display: flex; 
  justify-content: space-between;
}

.splash {

  align-items: center;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://source.unsplash.com/_cb5MjNG3DI/1600x900");
  position: relative;

  .titles {

  }

  h1 {
    font-size: 36px;
    font-family: sans-serif;
    color: white;
  }

  h2 {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
  }

}
