
.header{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  background-color: white;

  .left-header {
    display: flex;
    align-items: center;

    .explore {
      font-family: fantasy;
    }
  }

  .header-greet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-family: sans-serif;
    width: 400px;

    // .username {
    //   font-family: fantasy;
    //   align-items: center;
    // }
  }

  img:hover {
    opacity: .5;
  }
}

button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  text-decoration: none;
  margin: 5px;
  color: #fff;
  position: relative;
  display: inline-block;

  background-color: #060258;

}

button:hover {
  background-color: #1529c4;
}
