.photos {
  max-width: 300px;
  height: auto;
  margin: 5px;
}

.feed-main {
  background-color: #eff7f9;
}

.photo-explore {
  max-width: 400px;
  height: auto;
  position: relative;
  margin: 5px;
}

.photo-feed {
  max-width: 700px;
  height: auto;
  position: relative;
  margin: 10px;
}

.small-profile {
  height: 30px;
  width: 30px;
}

.center-masonry {
  display: flex;
  justify-content: center;
}

.author {
  display: none;
}

.author2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #edf2f9;
  width: 100%;
}

.photo-feed:hover, .photo-explore:hover {
  .author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 15px;
    background-color: #edf2f9;
    width: 100%;
    opacity: .8;
  }
}




.photo-header {

  display: flex;
  align-items: center;
  width: 80px;
  height: 25px;



  .upload-icon {
    background-image: url("http://res.cloudinary.com/dseky3p5e/image/upload/c_scale,w_18/v1484673402/cloud-upload_uatu3q.png");
    height: 18px;
    width: 18px;
  }

  .upload-text {
    color: #469eca;
    font-size: 16px;
    text-transform: none;
  }


}

.photo-header:hover {
  opacity: .7;
  cursor: pointer;
}

.photo-form {

  h3 {
    font-family: sans-serif;
    color: #7acbfb;
    font-size: 16px;
  }

  .preview {
    align-items: center;
    .upload-button {
      display: flex;
      justify-content: center;
    }
  }

  .photo-preview {
    background-color: #edf2f9;
    margin: 0 auto;
  }

  input[type=submit] {

    border-radius: 5px;
    width: 70px;
    background-color: #1ec93d;
    box-shadow: 0px;
    padding: 10px 5px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    text-align: center;
  }

  input[type=submit]:hover {
    opacity: .6;
  }

  button {
    border: 1px #0288cb;
    border-radius: 4px;
    background-color: #089ae2;
    box-shadow: 1px;
    padding: 8px 15px;
    font-size: 14px;
    font-family: sans-serif;
    margin-right: 10px;
    margin-top: 6px;
  }

  .modalClose {
    border-radius: 5px;
    width: 70px;
    background-color: #089ae2;
    box-shadow: 0px;
    padding: 10px 5px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 3px;
    margin-bottom: 15px;
  }


  button:hover {
    background-color: #80cbf7;
  }

  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    padding: 25px;

    input {
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 3px;
      margin-bottom: 15px;
      width: 245px;
      font-family: sans-serif;
    }

    textarea {
      width: 740px;
      height: 70px;
      background-color: white;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;


    }
  }

}
