
.profile {


  .edit-profile {
    display: flex;
    justify-content: flex-end;

    button {
      border: 1px #0288cb;
      border-radius: 4px;
      background-color: #089ae2;
      box-shadow: 1px;
      padding: 8px 15px;
      font-size: 14px;
      font-family: sans-serif;
      margin-right: 10px;
      margin-top: 6px;

    }

    button:hover {
      background-color: #80cbf7;
    }

  }

  .name {
    text-align: center;
    h1 {
      font-size: 18px;
      font-weight: bold;
    }
  }

  // .profile-modal {
  //   position: fixed;
  //   top: calc(50% - 250px);
  //   left: calc(50% - 200px);
  //   width: 400px;
  //   height: 500px;
  //   border: 1px solid black;
  //   border-radius: 15px;
  //   background-color: white;
  //   box-shadow: 5px 5px gray;
  // }

}
