
.profile {



  .edit-profile {
    display: flex;
    justify-content: flex-end;

    button {
      border: 1px #0288cb;
      border-radius: 4px;
      background-color: #089ae2;
      box-shadow: 1px;
      padding: 8px 15px;
      font-size: 14px;
      font-family: sans-serif;
      margin-right: 10px;
      margin-top: 6px;

    }

    button:hover {
      background-color: #80cbf7;
    }

  }

  .name {
    text-align: center;
    h1 {
      font-size: 18px;
      font-weight: bold;
      color: #060258;
    }
    h2 {
      color: #060258;
    }
    h3 {
      font-family: 'Abril Fatface', cursive;
      color: #469eca;
      font-weight: bolder;

      a {
        color: black;

      }
      a:hover {
        color: #060258;
      }
    }
  }
}

.bio {
  text-align: center;
  h4 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
  }

}
