<!DOCTYPE html>
<html>
<head>
  <title>Photo Journal</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bungee+Shade|Nothing+You+Could+Do" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
