<!DOCTYPE html>
<html>
<head>
  <title>Photo Journal</title>
  <link rel="icon" type="image/gif/png" href="https://res.cloudinary.com/dseky3p5e/image/upload/c_crop,g_north_west,h_65,w_70,x_12,y_5/v1484119573/v8_c5rdfy.png">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bungee+Shade|Nothing+You+Could+Do" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
